<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Google Maps</Name><AddInID>{a6054306-7b64-4c05-9350-b4c37f6182f7}</AddInID><Description>Tools for Google Maps</Description><Version>1.0</Version><Image>Images\XtpTm.png</Image><Author>Nathan Duncan</Author><Company>Albury City</Company><Date>04/07/2015</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="gm_addin.py" namespace="gm_addin"><ArcMap>
    <Commands>
        <Button caption="Google Maps" category="Google Maps" class="MapButton1" id="GM.MapButton1" image="Images\Maps-icon.png" message="Opens the current view in your browser." tip="Open Map"><Help heading="" /></Button>
        <Tool caption="Street View" category="Google Maps" class="SVTool1" id="GM.SVTool1" image="Images\svhuman2.png" message="Click on a road to open up Street View." tip="Open Street View"><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Google Maps" category="Google Maps" id="gm_addin.toolbar" showInitially="true"><Items><Button refID="GM.MapButton1" /><Tool refID="GM.SVTool1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>